// Global
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins');

// Colors
$cathorange: #FF671F;
$studioblue: #00C1D5;
$wildered: #BA0C2F;
$base: #FFFFFF;