// Global
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

div {
  position: relative;
  display: block;
}

// Mixins
@mixin flex {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

@mixin dropshadow {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .6);
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins');

// Colors
$cathorange: #FF671F;
$studioblue: #00C1D5;
$wildered: #BA0C2F;
$base: #FFFFFF;
